<div class="component">

    <nav>

        <div>
            <div class="logo">
                <img src="assets/images/ayan-logo.svg" alt="">
                <span>AYAN</span>
            </div>
    
            <div class="toggle-button" >
                <button>BB</button>
            </div>
        </div>

        <div class="links">
            <ul>
                <li>About me</li>
                <li>Projects</li>
                <li>Skills</li>
            </ul>
        </div>

        <div class="resume-download">
            <button>
                <mat-icon>download</mat-icon>
                Resume Download
            </button>
        </div>

        


    </nav>


</div>