
.component {
    border-bottom: 1px solid black;
}

nav {
    min-height: 7vh;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: larger;
        font-weight: bolder;
        display: flex;
        align-items: center;
        img {
            margin: 10px;
            height: 40px;
        }
        span {
            font-size: 35px;
            line-height: 40px;
        }
    }

    .links {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            // border: 1px solid red;
            li {
                padding: 0px 10px;
                cursor: pointer;
            }
            li:hover {
                text-decoration: underline;
            }
        }
    }
    .toggle-button {
        display: none;
    }
}

.resume-download {
    button {
        mat-icon {
            line-height: inherit;
            font-size: 140%;
        }
        display: flex;
        align-items: center;
        background: linear-gradient(to right,  #1942D2, #021f8a);
        border: none;
        color: white;
        border-radius: 10px;
        padding: 5px 20px;
        transition-timing-function: ease-in-out;
        box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
        cursor: pointer;
    }
    
    button:hover {
        background: linear-gradient(to right, #021f8a, #1942D2);
    }

}


@media only screen and (max-width: 600px) {

    nav {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        max-height: 45px;
        overflow: hidden;

        .links {
            padding: 0px;
            margin: 0px;

            ul {
                display: flex;
                flex-direction: column;

                li {
                    padding: 0px;
                }
            }
        }

        button {
            margin-bottom: 10px;
        }

        .toggle-button {
            display: block;
            border-radius: 20px;
            padding: 5px 20px;
        }
    }

    nav div:first-child {
        // bordeR: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 100%;
    }


}