<div class="page">


    <div class="first-view">
        <div class="row g-0">

            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <div class="details ">
                    <h2>
                        Hello, I'm Ayan
                    </h2>
                    <h1>
                        Full Stack Developer
                    </h1>
                    <!-- <h1>
                         Mandal
                    </h1> -->
                    <!-- <h2>
                        Full Stack Developer
                    </h2> -->
                    <h5>
                        Developing scalable, efficient, and high-performance applications.
                    </h5>
                </div>
            </div>
            <div class="col-md-5 ayan-dp-container">
                <!-- <img src="assets/images/ayan-pic.png" alt=""> -->
            </div>

        </div>

        <!-- <img class="wave1" src="assets/images/wave1.svg" alt=""> -->
    </div>

    <div class="about-me">

        <div class="row g-0">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                I'm a skilled Java Full Stack Developer with a comprehensive approach to software development. I
                specialize in building applications using microservice architecture, ensuring they are modular,
                maintainable, and scalable. My tech stack includes Java, Spring Boot, Angular, Docker, CI/CD, and Git. I
                am also dedicated to ensuring that my applications are accessible to all users, adhering to best
                practices in web accessibility. Whether it's developing a complex backend system, crafting an intuitive
                user interface, creating Chrome extensions, or ensuring accessibility compliance, I bring a full
                spectrum of development capabilities to the table.
            </div>
        </div>


    </div>


    <div class="skills" style="margin-top: 80px; height: 100vh; ">


        <div class="skills-container">

            <div class="languages">
                <!-- <div class="sub-heading">
                    Frameworks
                </div> -->
                <div class="skills-list">
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                        <div class="skill-name">Java</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/python.svg" alt="">
                        <div class="skill-name">Python</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/js.svg" alt="">
                        <div class="skill-name">Java script</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/ts.svg" alt="">
                        <div class="skill-name">Type script</div>
                    </div>
                </div>
            </div>

            <div class="frontends">
                <!-- <div class="sub-heading">
                    Languages
                </div> -->
                <div class="skills-list">
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                        <div class="skill-name">Angular</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                        <div class="skill-name">Angular</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/python.svg" alt="">
                        <div class="skill-name">HTML</div>
                    </div>
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/js.svg" alt="">
                        <div class="skill-name">CSS</div>
                    </div> 
                    <div class="skill-item">
                        <img class="skill-icon" src="assets/images/skills/ts.svg" alt="">
                        <div class="skill-name">Material</div>
                    </div> 
                </div>
            </div>
            <div class="heading">SKILLS</div>
            <div class="backends">

                <div class="skills-list">
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">AWS</div>
                </div>

                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Docker</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Git</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Kubernetics</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Postgres</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Mongodb</div>
                </div>
            </div>
            </div>
            <div class="others">
                <div class="skills-list">
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Spring cloud</div>
                </div>

                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Java</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Java</div>
                </div>
                <div class="skill-item">
                    <img class="skill-icon" src="assets/images/skills/java.svg" alt="">
                    <div class="skill-name">Java</div>
                </div>
            </div>
            </div>


        </div>


    </div>

    <div class="projects">
        <h2>Projects</h2>
    </div>


</div>